$primary-color:#D70F64;
$black-color: #000;
$white-color: #fff;
$shadow-dark: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.19),
0 6px 20px 0 rgba(0, 0, 0, 0.19);